body {
    padding:20px;
    background-color: #333;
    color:#6f5b5b;
    font-family: 'Arial';
    text-align:center;

}

#logo {
    position:relative;
    background-image: url('imgs/rphlogo_wo_shadow.png');
    width: 589px;
    height: 173px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom:10px;
    background-color:#292626;
    border-radius:10px;
}

#launcher {
    font-size: 2em;
    text-align:center;
    color: #e08907;
    -webkit-text-stroke: 0.5px #ffc84c;
    margin-bottom:50px;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #333;
    border: 1px solid #000
}
.hidden {
    display: none;
}

#downloading {
    display: none;
}

#play {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* background: url(./imgs/playbutton.png); */
    width: 120px;
    height: 57px;
    padding-top: 18px;
    cursor: pointer;
    font-size: 2em;
    color: #bd6633;
    border-radius: 7px;
}

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    color: #fff;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.victoria-one {
    border: 2px solid #b55f16;
}
.victoria-one:after {
    background: #b55f16;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}